@{
    ViewData["Title"] = "Home page";
}
<!--Main Slider-->
<section id="home" class="position-relative">
    <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container m-0 p-0 bg-dark" data-alias="classic4export" data-source="gallery">
        <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
        <div id="rev_main" class="rev_slider fullwidthabanner white" data-version="5.4.1">
            <ul>
                <!-- SLIDE 1 -->
                <li data-index="rs-01" data-transition="fade" data-slotamount="default" data-easein="Power100.easeIn" data-easeout="Power100.easeOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="01">
                    <!-- MAIN IMAGE -->
                    <img src="~/content/images/banner1-4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="overlay overlay-dark opacity-6"></div>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">Trabalhamos Com As</h1>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-bold whitecolor text-center">Tecnologias de Ponta</h1>
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1500"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">Do Mercado</h1>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['40','40','60','90']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="2000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h4 class="whitecolor font-xlight text-center">The Best Multipurpose Multi Page Template in Market</h4>
                    </div>
                </li>
                <!-- SLIDE 2 -->
                <li data-index="rs-02" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="02">
                    <!-- MAIN IMAGE -->
                    <img src="~/content/images/banner1-5.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="overlay overlay-dark opacity-6"></div>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">Desenvolvimento Focado em</h1>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-bold whitecolor text-center">Soluções Criativas</h1>
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1500"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">Para Soluções De Problemas</h1>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['40','40','60','90']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="2000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h4 class="whitecolor font-xlight text-center">Responsive and Retina Ready for All Devices</h4>
                    </div>
                </li>
                <!-- SLIDE 3 -->
                <li data-index="rs-03" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500" data-param1="03">
                    <!-- MAIN IMAGE -->
                    <img src="~/content/images/banner1-6.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="overlay overlay-dark opacity-7"></div>
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-130','-130','-110','-80']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">Nós Fazemos Um</h1>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-50','-20']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-bold whitecolor text-center">Designer Simples</h1>
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','40']"
                         data-width="none" data-height="none" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="1500"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h1 class="text-capitalize font-xlight whitecolor text-center">Focado Na Experiencia Do Usuário</h1>
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['40','40','60','90']"
                         data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                         data-textAlign="['center','center','center','center']"
                         data-responsive_offset="on" data-start="2000"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'>
                        <h4 class="whitecolor font-xlight text-center">Is a New Design Studio founded in NewYork</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ul class="social-icons-simple revicon white">
        <li class="d-table"><a href="javascript:void(0)" class="facebook"><i class="fab fa-facebook-f"></i></a> </li>
        <li class="d-table"><a href="javascript:void(0)" class="twitter"><i class="fab fa-twitter"></i> </a> </li>
        <li class="d-table"><a href="javascript:void(0)" class="linkedin"><i class="fab fa-linkedin-in"></i> </a> </li>
        <li class="d-table"><a href="javascript:void(0)" class="insta"><i class="fab fa-instagram"></i> </a> </li>
    </ul>
</section>
<!--Main Slider ends -->
<!--Some Services-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="services-slider" class="owl-carousel">
                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="fa fa-clipboard"></i></span>
                        <h4 class="bottom10 text-nowrap"><a href="javascript:void(0)">Sites</a></h4>
                        <p>Soluções eficientes e automatizadas para gerar ainda mais valor ao seu negócio</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="fa fa-laptop"></i></span>
                        <h4 class="bottom10"><a href="javascript:void(0)">Aplicativos</a></h4>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="fa fa-globe"></i></span>
                        <h4 class="bottom10"><a href="javascript:void(0)">Inteligência Artificial</a></h4>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="fa fa-edit"></i></span>
                        <h4 class="bottom10"><a href="javascript:void(0)">Business Intelligence</a></h4>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
                    </div>
                </div>
                <div class="item">
                    <div class="service-box">
                        <span class="bottom25"><i class="fa fa-globe"></i></span>
                        <h4 class="bottom10"><a href="javascript:void(0)">Estratégia Digital</a></h4>
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Some Services ends-->
<!--Some Feature -->
<section id="about" class="single-feature padding mt-n5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-7 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
                <div class="heading-title mb-4">
                    <h2 class="darkcolor font-normal bottom30">Vamos juntos, levar seu <span class="defaultcolor">Negócio</span> para o próximo nível</h2>
                </div>
                <p class="bottom35">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu, lobortis id interdum vitae, interdum eget elit. Curabitur quis urna nulla. Suspendisse potenti. Duis suscipit ultrices maximus. </p>
                <a href="javascript:void(0)" class="button gradient-btn mb-sm-0 mb-4">Saiba Mais</a>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-5 wow fadeInRight" data-wow-delay="300ms">
                <div class="image"><img alt="SEO" src="https://picsum.photos/400"></div>
            </div>
        </div>
    </div>
</section>
<!--Some Feature ends-->
<!-- WOrk Process-->
<section id="our-process" class="padding bgdark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="heading-title whitecolor wow fadeInUp" data-wow-delay="300ms">
                    <span>Conheça o nosso</span>
                    <h2 class="font-normal">Processo de Desenvolvimento</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="process-wrapp">
                <li class="whitecolor wow fadeIn active" data-wow-delay="300ms">
                    <span class="pro-step bottom20">01</span>
                    <p class="fontbold bottom20">Ideias & Requisitos</p>
                    <p class="mt-n2 mt-sm-0">Iremos juntamente com o cliente, realizar um brainstorm e ajudar a desenvolver a ideia do projeto que ele deseja para seu negócio. Esta etapa é fundamental e prezamos muito por ela.</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
                    <span class="pro-step bottom20">02</span>
                    <p class="fontbold bottom20">Estratégia Digital</p>
                    <p class="mt-n2 mt-sm-0">Direcionaremos o cliente sobre quais abordagens deve seguir para alavancar seu negocio na internet. Apresentaremos nossas propostas e planos especiais de acordo com cada cliente.</p>
                </li>
                <li class="whitecolor wow fadeIn " data-wow-delay="500ms">
                    <span class="pro-step bottom20">03</span>
                    <p class="fontbold bottom20">Design & Layout</p>
                    <p class="mt-n2 mt-sm-0">Aqui, nossa equipe criativa de Designers irá dar vida ao seu projeto, criando protótipos e alterando tudo, até que se encaixe perfeitamente com a ideia do cliente.</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
                    <span class="pro-step bottom20">04</span>
                    <p class="fontbold bottom20">Programação</p>
                    <p class="mt-n2 mt-sm-0">Mão na massa! A equipe técnica de programadores entra em cena para fazer tudo funcionar, desde o site até o aplicativo. Sempre com muita qualidade e segurança.</p>
                </li>
                <li class="whitecolor wow fadeIn" data-wow-delay="700ms">
                    <span class="pro-step bottom20">05</span>
                    <p class="fontbold bottom20">SEO & Testes</p>
                    <p class="mt-n2 mt-sm-0">Por fim, inúmeros testes serão realizados para garantir total funcionamento do projeto, além disso técnicas de SEO e Rankeamento para seu site obter sempre boa visibilidade na web.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--WOrk Process ends-->
<!-- Mobile Apps -->
<section id="our-apps" class="padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7 col-sm-12">
                <div class="heading-title bottom30 wow fadeInUp" data-wow-delay="300ms">
                    <span class="defaultcolor text-center text-md-left">Quisque tellus risus, adipisci viverra</span>
                    <h2 class="darkcolor font-normal text-center text-md-left">Mobile App Designs</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12">
                <p class="text-center text-md-left">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. </p>
            </div>
        </div>
        <div class="row d-flex align-items-center" id="app-feature">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="text-center text-md-right">
                    <div class="feature-item mt-3 wow fadeInLeft" data-wow-delay="300ms">
                        <div class="icon"><i class="fas fa-cog"></i></div>
                        <div class="text">
                            <h3 class="bottom15">
                                <span class="d-inline-block">Opções de Tema</span>
                            </h3>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
                        </div>
                    </div>
                    <div class="feature-item mt-5 wow fadeInLeft" data-wow-delay="350ms">
                        <div class="icon"><i class="fas fa-edit"></i></div>
                        <div class="text">
                            <h3 class="bottom15">
                                <span class="d-inline-block">Customização</span>
                            </h3>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="app-image top30">
                    <div class="app-slider-lock-btn"></div>
                    <div class="app-slider-lock">
                        <img src="https://picsum.photos/300" alt="">
                    </div>
                    <div id="app-slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="https://picsum.photos/300" alt="">
                        </div>
                        <div class="item">
                            <img src="https://picsum.photos/300" alt="">
                        </div>
                        <div class="item">
                            <img src="https://picsum.photos/300" alt="">
                        </div>
                    </div>
                    <img src="https://picsum.photos/300" alt="image">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="text-center text-md-left">
                    <div class="feature-item mt-3 wow fadeInRight" data-wow-delay="300ms">
                        <div class="icon"><i class="fas fa-code"></i></div>
                        <div class="text">
                            <h3 class="bottom15">
                                <span class="d-inline-block">Codificação Eficiente</span>
                            </h3>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
                        </div>
                    </div>
                    <div class="feature-item mt-5 wow fadeInRight" data-wow-delay="350ms">
                        <div class="icon"><i class="far fa-folder-open"></i></div>
                        <div class="text">
                            <h3 class="bottom15">
                                <span class="d-inline-block">Documentação </span>
                            </h3>
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Mobile Apps ends-->
<!-- Counters -->
<section id="bg-counters" class="padding bg-counters parallax">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-lg-4 col-md-4 col-sm-4 bottom10">
                <div class="counters whitecolor  top10 bottom10">
                    <span class="count_nums font-light" data-to="2019" data-speed="2500"> </span>
                </div>
                <h3 class="font-light whitecolor top20">Start</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p class="whitecolor top20 bottom20 font-light title">Desenvolvendo aplicações personalizadas adequadas ao seu tipo de negócio </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 bottom10">
                <div class="counters whitecolor top10 bottom10">
                    <span class="count_nums font-light" data-to="4" data-speed="2500"> </span>
                </div>
                <h3 class="font-light whitecolor top20">Projetos Desenvolvidos</h3>
            </div>
        </div>
    </div>
</section>
<!-- Counters ends-->
<!-- Our Team-->
<section class="padding_top half-section-alt teams-border">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="heading-title bottom30 wow fadeInLeft" data-wow-delay="300ms">
                    <span class="defaultcolor text-center text-md-left">Apaixonados pelo que fazem</span>
                    <h2 class="darkcolor font-normal text-center text-md-left">Conheça Nosso Time</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="text-center text-md-left wow fadeInRight" data-wow-delay="300ms">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. </p>
            </div>
        </div>
        <div class="row top30">
            <div class="col-md-12">
                <div id="ourteam-slider" class="owl-carousel" style="display: flex;justify-content: center;align-items: center;">
                    <div class="item">
                        <div class="team-box wow fadeInUp" data-wow-delay="100ms">
                            <div class="image">
                                <img src="https://picsum.photos/300" alt="">
                            </div>
                            <div class="team-content">
                                <h4 class="darkcolor">Michell Zamboti</h4>
                                <p>Programador & Designer</p>
                                <ul class="social-icons-simple">
                                    <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                    <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                    <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-box wow fadeInUp" data-wow-delay="150ms">
                            <div class="image">
                                <img src="https://picsum.photos/301" alt="">
                            </div>
                            <div class="team-content">
                                <h4 class="darkcolor">Thailan Higor </h4>
                                <p>Programador & Designer</p>
                                <ul class="social-icons-simple">
                                    <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                    <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                    <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Team ends-->
<!-- Gallery -->
<section id="portfolio" class="position-relative padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn" data-wow-delay="300ms">
                <div class="heading-title darkcolor wow fadeInUp" data-wow-delay="300ms">
                    <span class="defaultcolor"> A Hora da Verdade </span>
                    <h2 class="font-normal darkcolor heading_space_half"> Nosso Portfólio </h2>
                </div>
                <div class="col-md-6 offset-md-3 heading_space_half">
                    <p>Conheça um pouco mais de nossos trabalhos e clientes satisfeitos.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div id="mosaic-filter" class="cbp-l-filters bottom30 wow fadeIn text-center" data-wow-delay="350ms">
                    <div data-filter="*" class="cbp-filter-item">
                        <span>Todos</span>
                    </div>
                    <div data-filter=".digital" class="cbp-filter-item">
                        <span>Sites</span>
                    </div>
                    <div data-filter=".design" class="cbp-filter-item">
                        <span>Aplicativos (Android & IOS)</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div id="grid-mosaic" class="cbp cbp-l-grid-mosaic-flat">
                    <!--Item 1-->
                    <div class="cbp-item brand graphics">
                        <img src="https://picsum.photos/400" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="https://picsum.photos/400" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">Sweet Cup</h4>
                            </div>
                        </div>
                    </div>
                    <!--Item 2-->
                    <div class="cbp-item brand graphics design">
                        <img src="https://picsum.photos/401" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="https://picsum.photos/400" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">Minimal Things</h4>
                            </div>
                        </div>
                    </div>
                    <!--Item 3-->
                    <div class="cbp-item design digital graphics">
                        <img src="https://picsum.photos/402" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="https://picsum.photos/400" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">Semantic Collection</h4>
                            </div>
                        </div>
                    </div>
                    <!--Item 4-->
                    <div class="cbp-item brand graphics">
                        <img src="https://picsum.photos/403" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="https://picsum.photos/400" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">Wall Clock</h4>
                            </div>
                        </div>
                    </div>
                    <!--Item 5-->
                    <div class="cbp-item graphics design design">
                        <img src="https://picsum.photos/404" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="https://picsum.photos/400" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">Reading Content</h4>
                            </div>
                        </div>
                    </div>
                    <!--Item 6-->
                    <div class="cbp-item brand digital design">
                        <img src="https://picsum.photos/405" alt="">
                        <div class="gallery-hvr whitecolor">
                            <div class="center-box">
                                <a href="http://themesindustry.com/html/trax-2019/images/gallery-9.jpg" class="opens" data-fancybox="gallery" title="Zoom In"> <i class="fa fa-search-plus"></i></a>
                                <a href="javascript:void(0)" class="opens" title="View Details"> <i class="fas fa-link"></i></a>
                                <h4 class="w-100">Great Objects</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!--Load more itema from another html file using ajax-->
                    <div id="js-loadMore-mosaic" class="cbp-l-loadMore-button ">
                        <a href="#" class="cbp-l-loadMore-link border-0 font-13 button gradient-btn whitecolor transition-3" rel="nofollow">
                            <span class="cbp-l-loadMore-defaultText">Carregar Mais (<span class="cbp-l-loadMore-loadItems">6</span>)</span>
                            <span class="cbp-l-loadMore-loadingText">Carregando <i class="fas fa-spinner fa-spin"></i></span>
                            <span class="cbp-l-loadMore-noMoreLoading d-none">SEM MAIS TRABALHOS</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery ends -->
<!-- Testimonials -->
<section id="our-testimonial">
    <div class="parallax page-header testimonial-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6 col-md-12 text-center text-lg-right">
                    <div class="heading-title wow fadeInRight padding_testi" data-wow-delay="300ms">
                        <span class="whitecolor">É feedback que você quer? </span>
                        <h2 class="whitecolor font-normal">Veja o que nossos clientes dizem</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="owl-carousel" id="testimonial-slider">
            <!--item 1-->
            <div class="item testi-box">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12 text-center">
                        <div class="testimonial-round d-inline-block">
                            <img src="https://picsum.photos/410" alt="">
                        </div>
                        <h4 class="defaultcolor font-light top15"><a href="#.">Cliente A</a></h4>
                        <p>Volta Redonda, RJ</p>
                    </div>
                    <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
                        <p class="bottom15 top90">Atendimento excelente. <br /> A equipe técnica da Zath realizou todo o planejamento estratégico digital para meu negócio e me informavam a cada nova etapa. No fim, entregaram minha aplicação perfeitamente e dentro do prazo, recomendo!</p>
                        <span class="d-inline-block test-star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!--item 2-->
            <div class="item testi-box">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12 text-center">
                        <div class="testimonial-round d-inline-block">
                            <img src="https://picsum.photos/411" alt="">
                        </div>
                        <h4 class="defaultcolor font-light top15"><a href="#.">Cliente B</a></h4>
                        <p>Volta Redonda, RJ</p>
                    </div>
                    <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
                        <p class="bottom15 top90">Recomendo.<br /> Ultrapassaram alguns dias do prazo porém cumpriram o que prometeram e entregaram o site perfeito. Atendimento, feedback e acompanhamento excelentes. <br />Com certeza ajudou a expandir meu negócio pela internet.</p>
                        <span class="d-inline-block test-star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonials Ends-->
<!-- Partners-->
<section id="our-partners" class="padding">
    <div class="container">
        <div class="row">
            <h2 class="d-none">Partners Carousel</h2>
            <div class="col-md-12 col-sm-12">
                <div id="partners-slider" class="owl-carousel">
                    <div class="item">
                        <div class="logo-item"> <img alt="" src="https://picsum.photos/500"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Partners ends-->

<!--Blog-->
@*<section class="bglight padding" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="heading-title darkcolor wow fadeInUp" data-wow-delay="100ms">
                    <span class="defaultcolor">Leia as ultimas</span>
                    <h2 class="font-normal darkcolor heading_space_half"> Notícias sobre Tecnologia </h2>
                </div>
                <div class="col-md-6 offset-md-3 heading_space">
                    <p>A Zath está em constante evolução com as novas tendências e tecnologias do mercado.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="news_item shadow wow fadeInUp" data-wow-delay="200ms">
                    <div class="blog-img">
                        <a class="image" href="http://themesindustry.com/html/trax-2019/blog-1.html">
                            <img src="https://picsum.photos/411" alt="Latest News" class="img-responsive">
                        </a>
                    </div>
                    <div class="news_desc">
                        <h3 class="text-capitalize font-normal darkcolor"><a href="http://themesindustry.com/html/trax-2019/blog-1.html">Next Large Social Network</a></h3>
                        <ul class="meta-tags top20 bottom20">
                            <li><a href="#."><i class="fas fa-calendar-alt"></i>Jan 14</a></li>
                            <li><a href="#."> <i class="far fa-user"></i>Peter</a></li>
                            <li><a href="#."><i class="far fa-comment-dots"></i>7</a></li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing industry. Lorem has been dummy text ever since the 1500s...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="news_item shadow wow fadeInUp" data-wow-delay="300ms">
                    <div class="blog-img">
                        <div class="owl-carousel owl-theme owl-blog-item">
                            <div class="image item">
                                <img src="https://picsum.photos/411" alt="image">
                            </div>
                            <div class="image item">
                                <img src="https://picsum.photos/411" alt="image">
                            </div>
                            <div class="image item">
                                <img src="https://picsum.photos/411" alt="image">
                            </div>
                            <div class="image item">
                                <img src="https://picsum.photos/411" alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="news_desc">
                        <h3 class="text-capitalize font-normal darkcolor"><a href="http://themesindustry.com/html/trax-2019/blog-1.html">The Art of Finding Great Ideas</a></h3>
                        <ul class="meta-tags top20 bottom20">
                            <li><a href="#."><i class="fas fa-calendar-alt"></i>Feb 19</a></li>
                            <li><a href="#."> <i class="far fa-user"></i>John</a></li>
                            <li><a href="#."><i class="far fa-comment-dots"></i>9</a></li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing industry. Lorem has been dummy text ever since the 1500s...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="news_item shadow mb-0 wow fadeInUp" data-wow-delay="400ms">
                    <div class="blog-img">
                        <a data-fancybox="" href="http://themesindustry.com/html/trax-2019/video/video.mp4">
                            <div class="play-hvr">
                                <div class="play-icon">
                                    <i class="fas fa-play"></i>
                                </div>
                            </div>
                        </a>
                        <div class="image">
                            <img src="https://picsum.photos/411" alt="Latest News" class="img-responsive">
                        </div>
                    </div>
                    <div class="news_desc">
                        <h3 class="text-capitalize font-normal darkcolor"><a href="http://themesindustry.com/html/trax-2019/blog-1.html">3 Tips for Creating Your Own Blog</a></h3>
                        <ul class="meta-tags top20 bottom20">
                            <li><a href="#."><i class="fas fa-calendar-alt"></i>May 21</a></li>
                            <li><a href="#."> <i class="far fa-user"></i>David</a></li>
                            <li><a href="#."><i class="far fa-comment-dots"></i>4</a></li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing industry. Lorem has been dummy text ever since the 1500s...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!--Blog ends-->
<!--contact us-->
<section id="contact" class="position-relative padding_bottom_half">
    <div class="container whitebox padding_bottom_half">
        <div class="padding_top">
            <div class="row">
                <div class="col-md-12 text-center wow fadeInUp mt-n3" data-wow-delay="300ms">
                    <span class="defaultcolor">Faça um orçamento agora</span>
                    <div class="heading-title bottom25 darkcolor">
                        <h2 class="font-normal darkcolor"> Entre em contato </h2>
                    </div>
                    <div class="col-md-6 offset-md-3 heading_space">
                        <p>Você pode utilizar o formulário abaixo ou os contatos ao lado</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 order-md-2 text-center text-md-left">
                    <div class="contact-meta pl-0 pl-sm-5 wow fadeInRight" data-wow-delay="300ms">
                        <div class="heading-title heading_small">
                            <span class="defaultcolor mb-2">Zath</span>
                   
                        </div>
                        <div class="my-3">
                            @*<p class="bottom10">Address: 309, New Cavendish St, EC1Y 3WK</p>*@
                            <p class="bottom10">(24) 99926-6523</p>
                            <p class="bottom10">(24) 99975-7666</p>
                            <p class="bottom10"><a href="mailto:atendimentozath@gmail.com">atendimentozath@gmail.com</a></p>
                        </div>
                        <ul class="social-icons no-border mb-4 mb-md-0 wow fadeInUp" data-wow-delay="300ms">
                            @*<li><a href="javascript:void(0)" class="facebook"><i class="fab fa-facebook-f"></i> </a> </li>
                            <li><a href="javascript:void(0)" class="twitter"><i class="fab fa-twitter"></i> </a> </li>
                            <li><a href="javascript:void(0)" class="linkedin"><i class="fab fa-linkedin-in"></i> </a> </li>
                            <li><a href="javascript:void(0)" class="insta"><i class="fab fa-instagram"></i> </a> </li>*@
                            <li><a href="https://wa.me/5524999266523" target="_blank" class="whatsapp"><i class="fab fa-whatsapp"></i> </a> </li>
                            <li><a class="d-block" href="mailto:web@support.com"><i class="far fa-envelope"></i> </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="heading-title  wow fadeInLeft" data-wow-delay="300ms">
                        <form class="getin_form" onsubmit="return false;">
                            <div class="row px-2">
                                <div class="col-md-12 col-sm-12" id="result1"></div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="name1" class="d-none"></label>
                                        <input class="form-control" id="name1" type="text" placeholder="Nome" required="" name="userName">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="email1" class="d-none"></label>
                                        <input class="form-control" type="email" id="email1" placeholder="Email" name="email">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="message1" class="d-none"></label>
                                        <textarea class="form-control" id="message1" placeholder="Menssagem" required="" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <button type="submit" id="submit_btn1" class="button gradient-btn w-100">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--contact us end-->
<!-- map
<div class="w-100">
    <div id="map" class="full-map"></div>
</div>
map end -->
<!-- Stay connected US -->
<section id="stayconnect">
    <div class="bg-contactus parallax padding">
        <div class="container position-relative">
            <div class="contactus-wrapp position-absolute shadow-equal">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="heading-title wow fadeInUp text-center text-md-left" data-wow-delay="300ms">
                            <h3 class="darkcolor bottom5">Deseja receber novidades da Zath? Cadastre-se.</h3>
                            <p>Ah! Seu dados estarão seguros e jamais enviaremos spam. </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">
                            <div class="row">
                                <div class="col-md-12 col-sm-12" id="result"></div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label for="userName" class="d-none"></label>
                                        <input class="form-control" type="text" placeholder="Nome" required id="userName" name="userName">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="form-group">
                                        <label for="email" class="d-none"></label>
                                        <input class="form-control" type="email" placeholder="Seu melhor email" required id="email" name="email">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <button type="submit" class="button gradient-btn w-100" id="submit_btn">Inscrever-se</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact US ends -->
